@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #dadada;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    padding: 0 40px;
    background-color: #000;
}
#page2 {
    height: 100%;
    width: 100%;  
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
}

#nav-items{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav h1   {
    text-transform: uppercase;
    font-weight: 500;
}

nav h3{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

nav h4{
    font-weight: 500;
    cursor: pointer;
}

#container{
    height: 80%;
    margin: 40px;
    width: 100%;
    display: flex;
}

#left{
    height: 100%;
    width: 50%;
    padding: 100px 20px;
}

#left h1 span img{
    height: 66px;
    width: 66px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -20px;
    border: 3px solid black;
}

#left h1 span img:nth-child(1)
{
    margin-left: 0;
}

#right{
    height: 100%;
    width: 50%;
    padding: 100px 20px;    
}

#left h1{
    font-size: 86px;
    line-height: 97px;
    font-weight: 500;
    text-transform: uppercase;
}

.box{
    height: 300px;
    width: 400px;
    border: 3px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 40px;
}

.box h1{
    margin-bottom: 30px;
    font-size: 30px;
}

.box p{
    font-size: 20px;
    color: #dadada;
    font-weight: 600;
}

#right img{
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 10px;
}